.contact-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #0a433d;
  text-align: center;
}
.contact-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 30px;
}

.personal-info {
  flex: 1;
  min-width: 280px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.personal-info {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}
.personal {
  font-size: 20px;
  font-weight: bold;
}
.head {
  color: red;
}
.contact-details {
  flex: 1;
  min-width: 280px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-icons {
  margin-top: 30px;
  display: flex;
  gap: 80px;
  justify-content: center;
}

.contact-icon {
  font-size: 40px;
  color: #0a433d;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icon:hover {
  transform: scale(1.2);
  color: #1da1f2;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.message-box {
  padding: 15px;
  font-size: 16px;
  resize: none;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: 100%;
}

.send-button {
  padding: 12px;
  font-size: 16px;
  background-color: #0a433d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #066a50;
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 15px;
    gap: 20px;
  }

  .personal-info,
  .contact-details {
    width: 100%;
    padding: 15px;
  }

  .contact-heading {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .personal-info p,
  .contact-details p {
    font-size: 16px;
  }

  .contact-icons {
    gap: 30px;
    flex-wrap: wrap;
  }

  .contact-icon {
    font-size: 32px;
  }

  .message-box {
    font-size: 15px;
    padding: 12px;
  }

  .send-button {
    font-size: 15px;
    padding: 10px;
  }
}
